In [1]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user = "littlelemon", password = "mysqlpassword")

In [5]:
cursor = connection.cursor()

In [8]:
cursor.execute("USE little_lemon_db")

In [9]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [10]:
results = cursor.fetchall()

In [11]:
print(results)

[('Bookings',), ('Customers',), ('DeliveryStatus',), ('MenuItems',), ('Menus',), ('Orders',), ('ordersview',), ('Staff',)]

In [13]:
join_stmt = """
select Customers.CustomerName, Customers.CustomerEmail, Orders.Cost as TotalCost from Orders
inner join Customers 
on Orders.OrderID = Customers.CustomerID 
where Orders.Cost > 60;
"""

cursor.execute(join_stmt)
results = cursor.fetchall()
print(cursor.column_names)
for r in results:
    print(r)

('CustomerName', 'CustomerEmail', 'TotalCost')
('John Doe', 'johndoe@email.com', Decimal('171.00'))
('Jane Doe', 'janedoe@email.com', Decimal('174.00'))
('Alice Baker', 'alicebaker@email.com', Decimal('358.00'))
('Bob Marley', 'bobmarley@email.com', Decimal('265.00'))
('David Bombal', 'davidbombal@email.com', Decimal('465.00'))
('Emily Rose', 'emilyrose@email.com', Decimal('65.00'))
('Frank Edwards', 'frankedwards@email.com', Decimal('437.00'))
('Grace Harper', 'graceharper@email.com', Decimal('484.00'))
('Hannah Suker', 'hannahsuker@email.com', Decimal('111.00'))